Source: yodl
Section: text
Priority: optional
Maintainer: Frank B. Brokken <f.b.brokken@rug.nl>
Standards-Version: 3.7.2
Build-Depends: debhelper (>> 4.0.0), icmake (>= 6.22-2), tetex-extra, 
               tetex-bin, gs | gs-gpl

Package: yodl
Architecture: any
Depends: ${shlibs:Depends}
Description: Your Own Document Language (Yodl) is a pre-document language
 Yodl is a package that implements a pre-document language and tools to
 process it.  The idea of Yodl is that you write up a document in a
 pre-language, then use the tools (e.g. yodl2html) to convert it to some
 final document language.  Current converters are for HTML, man, LaTeX
 SGML and texinfo, a poor-man's text converter and an experimental xml
 converter. Main document types are
 "article", "report", "book", "manpage" and "letter".  
 The Yodl document language was  designed to be easy to use and extensible.
